.container-week-day {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.wrapper-week-day {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15em;
  width: 7em;
  /* flex: 1; */
  outline: 1px solid grey;
  position: relative;
}
.weed-day:hover {
  cursor: pointer;
}

.box-1 {
  position: absolute;
  top: 2px;
}

.box-3 {
  position: absolute;
  bottom: 25px;
}
.box-4 {
  position: absolute;
  bottom: 5px;
}

a {
  text-decoration: none;
  color: inherit;
}
